html,
body {
  margin: 0;
  padding: 0;
}

:root {
  --search-border: #bbb;
  --search-focus-border: #3a71ca;
}

.container {
  display: flex;
  justify-content: start;
  padding: 1rem;
}

.container > .search-bar {
  width: 25%;
  border: 2px solid var(--search-border);
  border-radius: 5px;
  padding: 0.3rem;
  transition: width 0.5s ease-out;
}

#search-bar:focus {
  width: 100%;
  outline: none;
  border-color: var(--search-focus-border);
}

#search-bar:focus::placeholder {
  color: white;
}
